:root {
	--siteColor: #00acee;
}

.chatInput {
	min-height: 70px;
	border-bottom: hidden;
	border-left: hidden;
	border-right: hidden;
	border-top: 0.05px solid var(--siteColor);
	padding: 5px;
	width: 80%;
	margin: 0;
}

input.chatInput:focus {
	border-left: hidden;
	border-bottom: hidden;
	outline: none;
}

.sendBtn {
	height: 70px;
	width: 20%;
	padding: 5px;
	background-color: var(--siteColor);
	margin: 0;
}

.fa-paper-plane {
	color: white;
}

/* Media Queries */

@media (min-width: 100px) and (max-width: 767px) {
	form {
		padding: 0px !important;
		margin: 0 !important;
	}
	.chatInput {
		width: 70%;
		margin: 0;
	}
	.sendBtn {
		width: 30%;
		height: px;
		outline: none;
		border: none;
		margin: 0%;
	}
}
