.messageContainer {
	/* background-color: yellow; */
	width: 100%;
	margin: 10px 0;
}

.groupUserMessageBox {
	font-family: 'Courier New', Courier, monospace;
	width: 65%;
	padding: 2px 5px;
}

.groupUsersIcon {
	font-size: 10px;
}

.groupUsersIcon i {
	color: var(--siteColor);
}

.groupUserText {
	color: black;
	width: fit-content;
	background-color: whitesmoke;
	/* border-radius: 5%; */
	padding: 5px;
	border-right-style: groove !important;
	border-top-left-radius: 0% !important ;
	border-top-right-radius: 10% !important ;
}

.userMessageBox {
	width: 65%;
	margin-left: 35%;
	padding-right: 1.5%;
	border-radius: 2%;
	font-family: 'Courier New', Courier, monospace;
	opacity: 0.8;
}
/* 
.userIcon {
	color: white;
	text-align: right;
} */

.userText {
	width: fit-content;
	padding: 5px;
	background-color: var(--siteColor);
	color: whitesmoke;
	/* border-radius: 5%; */
	border-right-style: ridge !important;
	border-top-left-radius: 0% !important ;
}

/* Media Queries */
@media (min-width: 100px) and (max-width: 767px) {
	.groupUserText,
	.userText {
		font-size: 12px;
		padding: 5px;
		margin-right: 10%;
		border-right-style: groove !important;
		border-top-left-radius: 0% !important ;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.groupUserText,
	.userText {
		font-size: 12px;
		padding: 5px;
		margin-right: 10%;
		border-right-style: groove !important;
		border-top-left-radius: 0% !important ;
	}
}
